---
interface Props {
	title: string;
	description: string;
    URL: string
    technologies: Array<string>;
}

const { title, description, URL, technologies} = Astro.props;
---

<div style={{ 
    backgroundImage: `url('/src/assests/${URL}')`,
    backgroundSize: 'cover',
    backgroundPosition: 'center',
    width: '350px',
    borderRadius: '15px',
    margin: '15px',
    height: '100%'
    }}>
    <div class=" card-degree">
        <h3> { title } </h3>
        <p> { description }... </p>

        {
            technologies.map((element) => <span class="label"> { element } </span>)
        }
    </div>
</div>

<style>
    .card-degree{
        border-radius: 15px;
        max-width: 350px;
		background: linear-gradient(180deg,rgba(0,0,0,0) 0%,rgba(33,33,33,0.5046393557422969) 17%,rgba(33,33,33,1) 76%);
        opacity: 0.8;
        align-content: flex-end;
        padding: 20px;
        height: 100%;
    }
    .card-degree:hover{
        box-shadow: 0px 0px 29px -12px #7eff0e;
    }
    .card-degree h3{
        padding-top: 170px;
    }

    .card-degree p{
        line-height: normal;
        font-size: 17px;
        margin-bottom: 10px;
    }

    .label{
        font-size: 14px;
        padding: 0px 9px;
        background-color: #7eff0e;
        color: black;
        font-weight: bold;
        border-radius: 25px;
        margin-right: 6px;
    }

</style>