---
interface Props {
	Title: string;
	Description: string;
    URL: string
    technologies: Array<string>;
}

const { Title, Description, URL, technologies} = Astro.props;
---

<div style={{ 
    backgroundImage: `url('/src/assests/${URL}')`,
    backgroundSize: 'cover',
    backgroundPosition: 'center',
    width: '350px',
    borderRadius: '8px'
    }}>
    <div class=" card-degree">
        <h3> { Title } </h3>
        <p> { Description }... </p>

        {
            technologies.map(() => <li>TEXTO</li>)
        }
    </div>
</div>

<style>
    .card-degree{
        border-radius: 8px;
        max-width: 350px;
		background: linear-gradient(180deg,rgba(0,0,0,0) 0%,rgba(33,33,33,0.5046393557422969) 17%,rgba(33,33,33,1) 76%);
        opacity: 0.8;
        align-content: flex-end;
        padding: 20px;
    }

    .card-degree h3{
        padding-top: 170px;
    }

    .card-degree p{
        line-height: normal;
        font-size: 17px;
    }

</style>